*.out
*.DS_Store
*.swp
node_modules
mongodb/db/*
mongodb/log/*
static/js/app.js
.idea
java/tanks.iml
/bin/
.classpath
.project
java/src/*
java/out/
Vagrant*
.vagrant/
=======
Vagrant*
.vagrant/
java/out/
*.class
