div.mainContent {
    margin: 20px;
}

div.registerUser {
    max-width: 100%;
}

div.registerUser .input-group {
    margin-top: 10px;
}

table.gameBoard {
    background-image: url("/images/DirtBackground.jpg");
    background-repeat: repeat;
}

table.gameBoard td {
    padding: 0px;
}

div.container {
    display: inline-block;
    text-align: center;
}

div.wrapper {
    text-align: center;
}

td.Legend
{
    padding: 10px;
}

img.home-screen-shot {
    width: 90%;
}

.red {
    color:#ff0000;
}

.black {
    color:#000000;
}

.white {
    color:white;
}

.gray {
    color:#999999;
}

.clickable {
    cursor:pointer;
}

.marginSmallRight {
    margin-right:5px;
}

/**************************************************************************
CSS For the TankCard Class
**************************************************************************/
.tankCard{
    /*display:inline-flex;
    width:100%;
    height: 100px;
    background-color: #a6a6a6;
    margin: 10px 0px 10px 0px;*/
    height: 8em;
    background-color: white;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px;
}

.tankCard.card-selected {
    border-style: solid;
    border-width: medium;;
    border-color: rgb(193, 66, 66);
}

.tankCard .tank-info, .tankCard .tank-stats {
    height: 100%;
}

.tankCard .tank-info .tank-image {
    height: 100%;
    display: flex;
    align-items: center;
}

.tankCard .edit-btn {
    display: none;
}

.tankCard .edit-btn button {
    font-size: 1em;
}

/*.edit-btn {
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
}*/

.edit-btn .download-btn, .edit-btn .upload-btn, .edit-btn .delete-btn {
    font-size: 1em;
}

.tankCard.card-selected .edit-btn {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tankCard:not(.card-selected):hover {
    background-color: rgb(184, 243, 243);
}

.tankCard h4 {
    margin: 5px 0px 5px 0px;
}

.tankCard h5 {
    margin: 5px 0px 5px 0px;
}

.tankCardSection1 {
    display: flex;
    flex-direction:column;
    width:30%;
}

.tankCardStats {
    width:30%;
    font-weight: 600;
    display:flex;
    flex-direction:column;
}

.buttonSection {
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.button {

    /*width:100%;*/
    margin:5px;
    box-shadow: 3px 3px 3px #888888;
    background-color:#800000 !important;
    border-color:#800000 !important;

}

.close-icon {
    height: 21px;
    width: 21px;
    text-align: center;
}

.close-circle:hover {
    height: 21px;
    width: 21px;
    background: rgba(191, 63, 63, 1);
    border-radius: 20px;
    float: right;
}

/**************************************************************************
CSS For the PlayerPanel Class
**************************************************************************/
.centerPanel {
    display: flex;
    flex-wrap:wrap;
}

.inGamePanel {
    width:45%;
    height:170px;
    border-style: solid;
    border-width: 2px;
    border-color: #5bc0de;
    border-radius: 20px;
    text-align:center;
    position: relative;
    margin:10px;

}

.topRight {
    position: absolute;
    top: 15px;
    right: 15px;
}

/**************************************************************************
CSS For the Dark Background
**************************************************************************/
.tankPanel {
    height:auto;
    max-height:700px !important;
    padding:0 15px;
    overflow-y:auto;
}

.dark-background {
    background-color: #262626;
}

body {
    background-color: #a6a6a6 !important;
}

/**************************************************************************
CSS For the Armory
**************************************************************************/
.armory-top {
    height:600px;
}

.armory-top .tankPanel {
    flex-grow:2;
}

.flex {
    display:flex;
    flex-direction:column;
}

.editorStyle {
    height:522px;
}

.ace {
    height:100%;
}

.horizontal {
    width:100%;
    display:inline-flex;
    justify-content:space-around;
}

.name-input {
    width:15%;
}

.side-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.compiler-output {
    margin-top:20px;
    height:150px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
