div.mainContent {
    margin: 20px;
}

div.registerUser {
    max-width: 400px;
}

div.registerUser .input-group {
    margin-top: 10px;
}

table.gameBoard {
    background-image: url("/images/DirtBackground.jpg");
    background-repeat: repeat;
}

table.gameBoard td {
    padding: 0px;
}

div.container {
    display: inline-block;
    text-align: center;
}

div.wrapper {
    text-align: center;
}

td.Legend
{
    padding: 10px;
}
